table {
    border-spacing: 0;
}

table.values {
    width: 100%;
    height: 100%;
    font-size: 11px;
}

td:not(.values) {
    width: 100px;
    height: 100px;
    padding: 0;
}

td:not(.number) {
    border: 1px solid black;
}
td.values {
    width: 34%;
    height: 34%;
    border: none;
}

td.number {
    text-align: center;
}
